@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');


$base-color: linear-gradient(to right,#0099FF, #0066FF, #0033FF);
$back-color: #2a2b38;
$card-color: #1f2029;

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #fff;
	background-color: $back-color !important;
	overflow-x: hidden;
}

.card{
    background-color: $card-color !important;
}

.header{
    background-color: $back-color !important;
}



