@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');


//$base-color: #0099FF;
$base-color: #339933;
$back-color: #121313;
//$back-color: linear-gradient(#EDF3FF, #F0F5FF, #E6EFFF);

//$card-color: #1f2029;
$card-color: #f0f5ff;

$shadow: rgba(136, 172, 243, 0.25) 0px 10px 30px, rgba(0, 0, 0, 0.03) 0px 1px 1px,
         rgba(47, 62, 96, 0.01) 0px 10px 20px, rgba(76, 102, 148, 0.13) 0px 1px 3px;

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: black;
	overflow-x: hidden;
  background-color: $back-color;
  background-image: url(../images/SeccionIII.svg) !important;
  background-attachment: fixed;
  background-size: cover;
}



.card{
	
    background-color: $card-color !important;
	  margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    //box-shadow: $shadow;
    img{
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
}

.header{
    background-color: $back-color !important;
    color: white;
}

.btn{  
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: $base-color;
    color: #fff;
    box-shadow: 0 8px 24px 0 $base-color;
}
.btn:active,
.btn:focus{  
  background-color: #fff;
  color: $base-color;
  box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
}
.btn:hover{  
  background-color: #fff;
  color: $base-color;
  box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
}
.form-group{ 
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: $base-color;
  transition: all 200ms linear;
}
