{% extends "layout.html" %} {% block title %} Detalles {% endblock %} {% block main %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="card animated fadeInDown show-on-scroll">
                <img class="card-img-top" src="{{items[10]["image"]}}" alt="Book">
                <div class="card-body">
                    <h2 class="card-title">Title:</h2>
                    <p>{{items[0]["title"]}}</p>
                    <h4>Category: </h4>
                    <p>{{items[9]["categories"]}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12 col-md-6">
            <div class="card animated fadeInDown show-on-scroll">
                <div class="card-body">
                    <h5>ISBN: </h5>
                <p id="isbn">{{items[1]["isbn"]}}</p>

                <h5>Author: </h5>
                <p>{{items[2]["author"]}}</p>

                <h5>Publish Date:</h5>
                <p>{{items[3]["publish_date"]}}</p>

                <h5>Description: </h5>
                <p>{{items[6]["description"]}}</p>

                <h5>Average Rating: </h5>
                <p>{{items[7]["averageRating"]}}</p>

                <h5>Ratings Count: </h5>
                <p>{{items[8]["ratingsCount"]}}</p>

                <h5>Own Count: </h5>
                <p>{{items[4]["count"]}}</p>

                <h5>Own Average Score: </h5>
                <p>{{items[5]["score"]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center card animated fadeInDown show-on-scroll" style="margin-bottom: 30px;">
    <h3>Reseñas</h3>
</div>

{% if bandera %}
<div class="container row text-center headerA show-on-scroll" style="margin-bottom: 30px;">
    <h6>*La reseña tiene que tener mas de 10 caracteres</h6>
    <div class="form-group">
        
        <form method="POST">
            <div class="row">
                <div class="col-lg-6 col-sm-12" style="margin-bottom: 30px;">
                    <input autocomplete="off" required name="review" onkeyup="verificar(this.value);" class="form-style" placeholder="Deja tu reseña..." id="review" autocomplete="none">
                </div>
                <div class="col-lg-3 col-sm-12" style="margin-bottom: 30px;">
                    <input autocomplete="off" required name="stars" step="1" oninput="validity.valid||(value='');" onkeyup="verificar(this.value);" type="number" max="5" min="0" class="form-style" placeholder="Del 1 al 5..." id="review2" autocomplete="none">
                </div>
                <div class="col-lg-3 col-sm-12" style="margin-bottom: 30px;">
                    <button class="btn" id="send">Ingresar</button>
                </div>
            </div>     
        </form>
    </div>
</div>
{% endif %}

<div class="container row">
    {% for review in reviews %}
    <div class="col-sm-6 col-lg-3">
        <div class="card headerA show-on-scroll">
            <div class="card-body">
                <h4 class="card-title">Por: {{review.username}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{review.stars}}/5.0</h6>
                <p class="card-text">
                    {{review.message}}
                </p>

            </div>
        </div>
    </div>
    {% endfor %}

</div>


{% endblock %}