{% extends "layout.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block main %}

  
    <h1>AQUI VA EL INICIO HEHEEHEH</h1>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Libro X</h1>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequuntur, 
                ipsa aliquid vitae recusandae numquam velit officiis repudiandae natus facilis sit eligendi! Dolorum illo doloremque, 
                facere eligendi tenetur consectetur quibusdam.
                </p>
            </div>
        </div>
    </div>

{% endblock %}