{% extends "layout.html" %} {% block title %} Inicio {% endblock %} {% block main %}

<div class="container row text-center headerA show-on-scroll" style="margin-bottom: 30px;">
    <div class="form-group">
            
        <select autocomplete="off" class="chosen-select form-style" style=" width: 200px;" id="books" onchange="location = this.value;">
            <option value="#">Buscar...</option>
            {% for book in booksAll %}
            <option screen-name="details" value="/details/{{book.id_book}}">{{book.title}} - {{book.author}} - {{book.isbn}}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="container row">
    {% for item in items %}
    <div class="col-sm-6 col-lg-3">
        <div class="card animated fadeInDown show-on-scroll">
            <img src="{{item[5]["image"]}}" class="card-img-top" alt="...">
            <div class="card-body headerA show-on-scroll">
                <h3 class="card-title">{{item[0]["title"]}}</h3>
                <h6 class="card-subtitle mb-2 text-muted">ISBN: {{item[1]["isbn"]}}</h6>
                <p class="card-text">
                    Author: {{item[2]["author"]}}
                </p>
                <p class="card-text">
                    Fecha de Publicación: {{item[3]["date"]}}
                </p>
                
                <div class="d-grid gap-2">
                    <a screen-name="details" href="/details/{{item[4]["id"]}}" class="btn">Detalles</a>
                </div>
                
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}

