{% extends "layout.html" %} {% block title %} Inicio {% endblock %} {% block main %}
<div class="container row text-center" style="margin-bottom: 30px;">
    <div class="form-group">

        <!--<input list="books" name="search" 
                class="form-style" 
                placeholder="Titulo..." 
                id="search" autocomplete="none">
            <i class='bx bx-search input-icon'></i> 
            <datalist class="form-style" id="books">
                {% for book in booksAll %}
                <option value="{{book.title}} - {{book.author}} - {{book.isbn}}">
                    <a></a>
                </option>
                {% endfor %}
            </datalist> -->
            
        <select autocomplete="off" class="chosen-select form-style" style=" width: 450px;" id="books" onchange="location = this.value;">
            <option value="#">Buscar...</option>
            {% for book in booksAll %}
            <option screen-name="details" value="/details/{{book.id_book}}">{{book.title}} - {{book.author}} - {{book.isbn}}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="container row">
    {% for book in books %}
    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <img src="{{book.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">{{book.title}}</h3>
                <h6 class="card-subtitle mb-2 text-muted">ISBN: {{book.isbn}}</h6>
                <p class="card-text">
                    Autor: {{book.author}}
                </p>
                <p class="card-text">
                    Fecha de Publicación: {{book.publish_date}}
                </p>

                <a screen-name="details" href="/details/{{book.id_book}}" class="btn mt-6">Detalles</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}

