
{% extends "layout.html" %}

{% block title %}
    Favoritos
{% endblock %}

{% block main %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Elementos Guardados</h1>
            
            <div class="container">
                <div class="card-group">
                    <div class="card"> 
                        <div class="card-body">
                            <h1 class="card-title">Libro 1</h1>
                            <p class="card-text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus ipsa explicabo totam doloremque quos asperiores odio rem eum autem tenetur provident excepturi perferendis non aperiam iusto sunt, est consequatur magnam.
                            </p>
                        </div>
                    </div>

                    <div class="card"> 
                        <div class="card-body">
                           <h1 class="card-title">Libro 1</h1>
                            <p class="card-text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus ipsa explicabo totam doloremque quos asperiores odio rem eum autem tenetur provident excepturi perferendis non aperiam iusto sunt, est consequatur magnam.
                            </p>
                        </div> 
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}